/* HTMLのCSSをリセットする */
* {
	font-size: 100%;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	font-weight: normal;
}
